.web-log-join-buttons {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.web-log-join-buttons-1 {
    margin-left: 20px;
}

.uk-navbar-container {
    background-color: #edfcf8 !important;
    background-image: #edfcf8;
}

.authuser-form-1 {
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
}

.mape-session-class {
    margin: 15px;
}